<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Coffee Orders

    <a data-toggle="collapse" href="#dairy_type_coffee_orders_new_form">
      Add coffee order
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @dairy_type.coffee_orders.each do |coffee_order| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to coffee_order, coffee_order %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to coffee_order, method: :delete, data: { confirm: "Do you really want to delete this coffee_order" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="dairy_type_coffee_orders_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
