<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @dairy_type, partial: "card", as: :dairy_type %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "dairy_types/dairy_type_coffee_orders" %>
  </div>
</div>
