<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @coffee_type, partial: "card", as: :coffee_type %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "coffee_types/coffee_type_coffee_orders" %>
  </div>
</div>
  <!-- Show Page Customization end -->
